@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ShareTechMono-Regular";
    src: local("ShareTechMono-Regular"),
        url("./fonts/ShareTechMono-Regular.ttf") format("truetype");
}

.invoice-font {
    font-family: "ShareTechMono-Regular";
    width: 58mm;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}